<!-- Contact -->
<section class="contact">
  <h4>Drop us a line below</h4>

  <form action="">
    <div>
      <!-- Name -->
      <div>
        <fieldset>
          <input type="text" id="name" name="name" placeholder="Name">
          <label for="name">Name</label>
        </fieldset>
      </div>
      <!-- Email -->
      <div>
        <fieldset>
          <input type="email" id="email" name="email" placeholder="Email">
          <label for="email">Email</label>
        </fieldset>
      </div>
    </div>

    <!-- Message -->
    <fieldset>
      <textarea id="message" name="message" placeholder="Your message" rows="8" cols="80"></textarea>
      <label for="message">Your message</label>
    </fieldset>
    <!-- Button -->
    <div class="tc">
      <button type="submit">Submit</button>
    </div>
  </form>
</section>
