html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  font-size: 1.8rem;
}

main {
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 40em) [main-end]
    minmax(1em, 1fr) [full-end];
  margin-bottom: 5rem;

    > * {
      grid-column: main;
    }

    .jumbotron {
      grid-column: full;
      height: 50rem;
    }
}

.global-header,
.global-footer {
  background-color: rgb(33, 116, 56);
  display: grid;
  grid-template-columns:
    [full-start] minmax(1em, 1fr) 
    [main-start] minmax(0, 80em) [main-end]
    minmax(1em, 1fr) [full-end];

    > * {
      grid-column: main;
      padding: 2rem 0;
    }
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
  margin-bottom: 0;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.6rem;
}

h5 {
  font-size: 2.4rem;
}

.global-header {
  .container {
    display: flex;
    flex-flow: column;

    @media (min-width: 768px) {
      flex-flow: unset;
      justify-content: space-between;
    }

    .logo {
      color: #e1e1e1;
    }

    ul {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    li {
      a {
        text-decoration: none;
        text-transform: uppercase;
        padding: 0 10px;

        &:last-child {
          padding-right: 0;
        }
      }
    }
  }
}

.global-footer {
  .container {
    color: #e1e1e1;
    display: flex;
    flex-flow: column;
    justify-content: center;

    svg {
      height: 3rem;
    }

    .social {
      display: flex;
      justify-content: center;
    }
  }
}

.two-up > div,
.four-up > div {
  display: grid;
  gap: 2rem;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

label {
  visibility: hidden;
}

input,
textarea {
  font-size: 1.8rem;
}

svg {
  fill: currentColor;
}