.jumbotron {
  align-items: center;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  flex-flow: column;

  @media (min-width: 768px) {
    background-position: center 70rem;

  }
}